/* GLOBAL */

* {
	box-sizing: border-box
}

html, body {height: 100%}

body {
	text-align: center;
	font-family: "museo-sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #1F2844;
	background: #FFF
}

a {
	color: #005C7F;
}

section {
	position: relative;
	height: 100%;
	padding: 0 2rem;
	overflow: hidden;
	background: #FFF
}

#apply-button {
	transition: all 0.5s ease-out;
	display: block;
	/*position: fixed;*/
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 2rem;
	color: #FFF;
	background-color: #034F52;
	text-decoration: none;
	line-height: 2rem;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 300;
	opacity: 1;
}

#apply-button img {
	vertical-align: sub;
	margin-right: 0.7rem
}
	
#apply-button.hide {
	transition: all 0.5s ease-out;
	transform: translateY(-100%)
}


/* INTRO */

#intro {
	color: #FFF;
	background: url(../img/introBg.jpg) center center no-repeat;
	background-size: cover;
}

#intro #logoWaveHouse {
	width: 8rem;
	margin-top: 6rem
}

#intro hgroup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
	width: 80%
}

#intro h1 {
	font-size: 2.250em;
	font-weight: 900;
	margin-bottom: 1.5rem;
	padding-top: 2rem;
	background: url(../img/wave.svg) top center no-repeat
}

#intro h2 {
	font-size: 1.250em;
	font-weight: 500
}

#intro #arrow {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	height: 2rem;
	margin-left: -4.3rem;
	color: #FFF;
	font-size: 0.875em;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 3rem;
	background: url(../img/arrow.svg) bottom center no-repeat
}


/* WHO WE ARE */

.show {
	opacity: 1!important;
	top:0!important;
	transition: all 1s ease-out
}

#whoweare {
	height: auto
}

#whoweare #crest {
	width: 9rem;
	margin-top: 6rem;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}

#whoweare h2 {
	font-weight: 700;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}

#whoweare h2 span {
	color: #27D0D7
}

#whoweare h3 {
	margin-bottom: 6rem;
	font-weight: 300;
	font-size: 0.875em;
	line-height: 1.5em;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}


/* TENANTS */

#tenants {
	width: 100%;
	height: 100%;
	padding: 0;
	color: #FFF;
	background-color: #005C7F;
	background: rgba(0,147,134,1);
	position: relative;
	z-index: -1000
}

#tenants h2 {
	position: fixed;
	top: 20%;
	width: 100%;
	font-weight: 500;
	z-index: 100
}

#tenants .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: -100%;
	height: 40rem;
	overflow: hidden;
	background-color: #fff;

}

#tenants .slide1 {
	right: 0;
	background: url(../img/bgNeonRootsPortrait.jpg) center center no-repeat;
	background-size: cover;
	z-index: 1
}

#tenants .slide2 {
	background: url(../img/bgRootstrapPortrait.jpg) center center no-repeat;
	background-size: cover;
	z-index: 2
}

#tenants .slide3 {
	background: url(../img/bgNeonWavesPortrait.jpg) center center no-repeat;
	background-size: cover;
	z-index: 3
}

#tenants .slide4 {
	background: url(../img/bgInfluencersPortrait.jpg) center center no-repeat;
	background-size: cover;
	z-index: 4
}

#tenants .slide5 {
	background: url(../img/bgLifestylePortrait.jpg) center center no-repeat;
	background-size: cover;
	z-index: 5
}

#tenants .tenant  {
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	width: 70%;
	max-width: 15rem;
}

#tenants .tenant div {
	margin: 0 auto;
	padding: 1em;
	border: 2px solid #FFF
}


/* WHO IS ALLOWED */

#whoisallowed {
	height: auto;
	-webkit-backface-visibility: hidden;
}

#whoisallowed h2 {
	margin: 6rem 0 3rem;
	font-weight: 700;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}

#whoisallowed h2 span {
	color: #27D0D7
}

#whoisallowed ul {
	list-style: none;
	margin: 0 0 4rem;
	padding: 0 0 3rem;
	background: url(../img/wave_blue.svg) bottom center no-repeat
}

#whoisallowed li {
	margin-bottom: 1em;
	font-weight: 300;
	line-height: 1.5;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}

#whoisallowed .quote {
	max-width: 20rem;
	margin: 0 auto 1rem;
	position: relative;
	top: 1rem;
	opacity: 0;
	transition: all 1s
}

#whoisallowed .quote:last-of-type {
	margin-bottom: 3rem
}

#whoisallowed .quote blockquote {
	margin: 1rem 0;
	font-size: 0.938em;
	font-weight: 300;
	color: #888;
	text-align: left;
	line-height: 1.5
}

#whoisallowed .quote cite {
	display: block;
	margin: 0 0 1rem;
	color: #1F2844;
	font-size: 0.75em;
	text-align: left;
	text-transform: uppercase;
	font-style: normal
}

#whoisallowed .quote cite a {
	color: #1F2844;
	text-decoration: underline
}

#whoisallowed .quote cite a:hover {
	text-decoration: none
}

#whoisallowed .quote img {
	width: 100%;
}

#whoisallowed .quote cite small {
	display: block;
	margin-top: 0.3rem;
	color: #888;
	font-weight: 300
}



#whoisallowed .quote cite small a {
	color: #888;
	font-weight: 300;
	text-decoration: underline
}

#whoisallowed .quote cite small a:hover {
	text-decoration: none
}


/*  GALLERY */

#gallery {
	height: auto;
	padding: 0;
	color: #FFF;
	overflow: scroll
}

#gallery article {
	height: 20rem;
	color: #FFF;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	position: relative
}

#gallery article:last-of-type {
	height: 25rem;
}

#gallery hgroup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 0 2rem;
}

#gallery h2 {
	font-size: 2em;
	font-weight: 900;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2)
}

#gallery h3 {
	font-size: 1em;
	font-weight: 500;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2)
}

#gallery01 {
	background-image: url(../img/gallery01.jpg)
}
#gallery02 {
	background-image: url(../img/gallery02.jpg)
}
#gallery03 {
	background-image: url(../img/gallery03.jpg)
}
#gallery04 {
	background-image: url(../img/gallery04.jpg)
}

#gallery a {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 1rem 0.5rem;
	font-size: 0.825em;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	color: #FFF;
	background: rgba(0,147,134,0.6);
	background: linear-gradient(45deg, rgba(0,92,127,0.85) 0%, rgba(0,147,134,0.7) 100% );
}


/*  PRESS */

#press {
	height: auto;
	margin: 1rem 0 2rem;
	padding: 0
}

#press .pressleft {
	display: none;
}

#press .pressright {
	width: 100%;
	height: 15rem;
	margin-bottom: 2rem;
	background: url(../img/press_right.jpg) top center no-repeat;
	background-size: cover;
}

#press .presstext {
	float: left
}

#press small {
	display: block;
	margin-bottom: 0.5rem;
	color: #888;
	font-weight: 300;
	text-transform: uppercase
}

#press h2 {
	margin: 0 0.5rem 1rem;
	font-size: 1.25em;
	text-transform: uppercase
}

#press p {
	margin: 0 1rem 1rem;
	font-size: 0.75em;
	font-weight: 300;
	line-height: 1.5
}

#press a {
	margin: 0 auto 1rem;
	font-size: 0.825em;
	text-transform: uppercase
}

#press a:hover {
	text-decoration: none
}


/*  CONTACT */

#contact {
	color: #FFF;
	background-color: rgba(0,147,134,0.6);
	background-image: linear-gradient(45deg, rgba(0,92,127,0.85) 0%, rgba(0,147,134,0.7) 100%), url(../img/mapGray.png);
	background-position: center center;
	background-repeat: no-repeat; 
	background-size: cover;
	
}

#contact img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
}

#contact address{
	position: absolute;
	top: 50%;
	left: 50%;
	/*margin-top: -1.3rem;
	margin-left: -6.3rem;*/
	transform: translate(-50%,0);
	background: url(../img/pin.svg) top center no-repeat;
	padding: 3.3rem 0 0;
	font-style: normal;
	line-height: 1.5em;
	font-weight: 500;
	font-size: 0.875em
}


/*  APPLY */

#apply {
	padding: 0;
	color: #FFF;
	background: #27D0D7;
	overflow: hidden
}

#apply #form-messages {
	font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
}

#apply h2 {
	font-size: 1em;
	margin-bottom: 3rem;
}

#apply h2:before {
	content: "";
	display: block;
	margin: 0 auto 0.5rem;
	width: 3rem;
	height: 1.4rem;
	background: url(../img/key.svg) top center no-repeat;
    background-size: contain;
}

#apply form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	width: 90%;
	margin: 0 auto;
	max-width: 30rem
}

#apply input, #apply textarea {
	width: 100%;
	margin-bottom: 2rem;
	color: #FFF;
	background: none;
	border: none;
	border-bottom: 1px solid #FFF;
	line-height: 1rem;
	font: 300 0.667em/2em "museo-sans";
	outline: none;
	border-radius: 0;
}

#apply textarea {
	margin-bottom: 3rem;
	resize: none;
}

::-webkit-input-placeholder {
	color: rgba(255,255,255,0.6);
}
::-moz-placeholder { /* Firefox 19+ */
	color: rgba(255,255,255,0.6);
}
:-ms-input-placeholder { /* IE 10+ */
	color: rgba(255,255,255,0.6);
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.6);
}

#apply button {
	float: left;
	padding: 0;
    border: none;
    background: transparent;
	color: #FFF;
	font-family: "museo-sans", sans-serif;
	font-size: 0.667em;
	text-transform: uppercase
}

#apply footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 1rem;
	font-size: 0.625em;
	font-weight: 300;
	line-height: 1.5;
}


/***************
 RESPONSIVE 
***************/

.nomobile {
	display: none
}

@media (min-width: 600px) {
	
	section {
		padding: 0 4rem
	}
	
	#apply-button {
		height: 3rem;
		line-height: 3rem;
	}
		
	#intro #logoWaveHouse {
		width: 11rem;
		margin-top: 8rem
	}
	
	#intro h1 {
		padding-top: 3rem;
		font-size: 4em;
		background-image: url(../img/wave_big.svg)
	}
	
	#intro h2 {
		font-size: 1.875em
	}
	
	#intro #arrow {
		bottom: 2rem
	}
	
	#whoweare #crest {
		width: 12rem;
		margin-top: 8rem
	}
	
	#whoweare h2 {
		font-size: 2em
	}
	
	#whoweare h3 {
	    margin-bottom: 8rem;
		font-size: 1em
	}
	
	#tenants .slide {
		/*background-attachment: fixed;*/
	}
	
	#tenants h2 {
		font-size: 2em
	}
	
	#whoisallowed {
		padding: 0 2rem;
		background: url(../img/bgfigureright.png) 130% 5rem no-repeat;
		background-size: 9rem;
		transition: all 1s
	}
	
	#whoisallowed.showbg {
		background-position: right 5rem;
		transition: all 1s
	}
	
	#whoisallowed h2 {
		width: 60%;
		margin-left: 2rem;
		font-size: 2em;
		text-align: left
	}
	
	#whoisallowed li {
		width: 60%;
		margin-left: 2rem;
		font-size: 1em;
		text-align: left
	}
	
	#whoisallowed #quotes {
		width: 100%;
		max-width: 50rem;
		margin: 0 auto 3rem;
		overflow: hidden
	}
	
	#whoisallowed .quote {
		float: left;
		width: 47%;
		max-width: none
	}
	
	#whoisallowed .quote:first-of-type {
		float: right
	}
	
	#whoisallowed .quote blockquote {
		font-size: 1em
	}
	
	#whoisallowed .quote cite {
		margin-bottom: 1.5rem;
		font-size: 0.85em
	}
	
	#gallery article {
		background-attachment: fixed;
		height: 100vh!important;
	}
	
	#gallery h2 {
		margin-bottom: 1rem;
		font-size: 3em;
		text-shadow: none
	}
	
	#gallery h3 {
		font-size: 1.25em;
		text-shadow: none
	}

	#press {
		margin: 4rem 0;
		text-align: left
	}
	
	#press .pressleft {display: none}
	
	#press .pressright {
		float: left;
		width: 40%;
		margin: 0
	}
	
	#press .presstext {
		width: 60%;
		padding-left: 3rem
	}
	
	#press small {
		display: block;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
		color: #888;
		font-weight: 300;
		text-transform: uppercase
	}
	
	#press h2 {
		margin: 0 auto 1rem;
		font-size: 1.5em;
		text-transform: uppercase
	}
	
	#press p {
		margin: 0 4rem 1rem 0;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.5
	}
	
	#press a {
		margin: 0 auto 1rem;
		text-transform: uppercase
	}
	
	#press a:hover {
		text-decoration: none
	}
	
	#contact img {
		width: 14rem;
		transform: translate(-50%,-130%)
	}
	
	#contact address {
		font-size: 1em
	}
	
	#apply input, #apply textarea {
		float: left;
	    width: 47%;
	}

	#apply input:first-of-type {
		margin-right: 6%
	}
	
	#apply textarea {
		float: none;
		width: 100%;
		margin-bottom: 4rem
	}
	
	#apply button {
		clear: left
	}
	
	#apply footer {
		clear: left
	}
}


@media (min-width: 1000px) {
	
	.mobile {display: none}
	.nomobile {display: block}
	
	#apply-button {
		top: 4.5rem!important;
		right: 0;
		width: auto;
		height: 2rem;
		padding: 0 1rem 0 0.5rem;
		background-color: rgba(3,79,82,1);
		font-size: 0.75em;
		line-height: 2rem;
	}
	
	#apply-button img {
		width: 1.6rem;
		margin-right: 0.5rem;
	}
	
	#apply-button.hide {
		transform: translateX(100%)
	}
	
	#intro {
		position: relative;
		padding: 0;
		background: rgba(0,147,134,0.6);
		background: linear-gradient(45deg, rgba(0,92,127,0.85) 0%, rgba(0,147,134,0.7) 100% );
	}
	
	.fullscreen-bg {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	    z-index: -100;
	}
	
	.video {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    /* width: auto; */
	    height: auto;
	    z-index: 1;
	    transform: translate(-50%, -50%);
	}
	
	#intro #logoWaveHouse {
		margin-top: 4rem
	}
	
	#intro hgroup {
		transform: translate(-50%,-50%)
	}
	
	#intro h1 {
		font-size: 4.5em;
	}
	
	#whoweare h2 {
		margin-bottom: 1rem
	}
	
	#tenants .slide {
		height: 100vh;
		overflow: hidden;
		background-size: cover;
		/*background-attachment: fixed;*/
	}
	
	#tenants .slide1 {
		background-image: url(../img/bgNeonRoots.jpg)	
	}
	
	#tenants .slide2 {
		background-image: url(../img/bgRootstrap.jpg)
	}
	
	#tenants .slide3 {
		background-image: url(../img/bgNeonWaves.jpg)
	}
	
	#tenants .slide4 {
		background-image: url(../img/bgInfluencers.jpg)
	}
	
	#tenants .slide5 {
		background-image: url(../img/bgLifestyle.jpg)
	}
	
	#whoisallowed {
		background-image: url(../img/bgfigureleft.png), url(../img/bgfigureright.png);
		background-position: -30% 5rem, 130% 5rem;
		background-size: auto 360px;
		transition: all 1s
	}
	
	#whoisallowed.showbg {
		background-image: url(../img/bgfigureleft.png), url(../img/bgfigureright.png);
		background-position: left 5rem, right 5rem;
		background-size: auto 360px;
		transition: all 1s
	}
	
	#whoisallowed h2 {
		width: 100%;
		margin-top: 8rem;
		margin-left: 0;
		text-align: center
	}
	
	#whoisallowed li {
		width: 100%;
		margin-left: 0;
		text-align: center
	}
	
	#gallery h2 {
		font-size: 4em
	}
	
	#press {
		height: auto;
		margin: 6.25em 0;
		padding: 0;
		text-align: center
	}
	
	#press .pressleft {
		display: block;
		float: left;
		width: 25%;
		height: 270px;
		background: url(../img/press_left.jpg) center right no-repeat;
		background-size: cover;
	}
	
	#press .pressright {
		float: right;
		width: 25%;
		height: 270px;
		margin-right: 0;
		background: url(../img/press_right.jpg) center left no-repeat;
		background-size: cover;
	}
	
	#press .presstext {
		width: 50%;
		margin: 0px;
		padding: 0 3rem
	}
	
	#press small {
		display: block;
		margin-top: 3.5rem;
		margin-bottom: 0.5rem;
		color: #888;
		font-weight: 300;
		text-transform: uppercase
	}
	
	#press h2 {
		margin: 0 auto 1rem;
		font-size: 1.875em;
		text-transform: uppercase
	}
	
	#press p {
		margin: 0 auto 1rem;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.5
	}
	
	#press a {
		margin: 0 auto 1rem;
		text-transform: uppercase
	}
	
	#press a:hover {
		text-decoration: none
	}
	
	#contact img {
		width: 10rem
	}
}
